body{
    background-color: #dcdcdc;
    font-family: "Helvetica";
}

.container{
    margin-top: 100px;
    width: 100%;
}

.center{
    width: 90%;
    margin: auto;
    max-width: 1100px;
}

.cont{
    background-color: #fff;
    border-radius: 3px;
}

.left{
    width: 65%;
    float: left;
}

.right{
    float: right;
    width: 25%;
}

.nameBlock{
    height: 80px;
}

.itemName{
    margin: 15px;
    margin-right: 0;
    float: left;
    width: 75%;
    padding: 15px;
    font-size: 0.9em;
    border-radius: 5px;
    border: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.19);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.19);
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.19);
}

.add{
    cursor: pointer;
    float: left;
    width: 16.5%;
    margin-top: 15px;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
    background-color: #1f86d2;
    padding: 15px;
    font-size: 0.9em;
    font-weight: 800;
    -webkit-box-shadow: inset 0px -12px 0px -7px rgba(30,120,184,1);
    -moz-box-shadow: inset 0px -12px 0px -7px rgba(30,120,184,1);
    box-shadow: inset 0px -12px 0px -7px rgba(30,120,184,1);   
}

.add:hover{
    background-color: #076fb8;
}

.item{
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border-top: 1px solid #dcdcdc;
    font-size: 0.9em;
}


.itemLable{
    float: left;
    line-height: 20px;
    text-align: center;
    margin-left: 15px;
}

.button{
    float: left;
}

.centerButtons{
    margin-top: 8px;
    margin-left: 40%;
}

.buttonDelete span{
    margin-left: 13px;
}

.buttonDelete{
    cursor: pointer;
    color: white;
    background-color: #f0a09f;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    -webkit-box-shadow: inset 0px -10px 0px -7px rgba(240,132,131,1);
    -moz-box-shadow: inset 0px -10px 0px -7px rgba(240,132,131,1);
    box-shadow: inset 0px -10px 0px -7px rgba(240,132,131,1);   
}

.buttonDelete:hover{
    background-color: #f07776;
}

.buttonAdd span{
    margin-left: 10px;
}

.buttonAdd{
    cursor: pointer;
    color: white;
    background-color: #1ebc45;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    -webkit-box-shadow: inset 0px -10px 0px -7px rgba(22,164,66,1);
    -moz-box-shadow: inset 0px -10px 0px -7px rgba(22,164,66,1);
    box-shadow: inset 0px -10px 0px -7px rgba(22,164,66,1);  
}

.buttonAdd:hover{
    background-color: #178f34;
}

.numberItem{
    background-color: #eaeaea;
    text-align: center;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 0.8em;
    color: #5d5d5d;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.button span{
    width: 100%;
    height: 100%;
    line-height: 30px;
    font-size: 1.6em;
}

.active{
    background-color: #dd2929;
    -webkit-box-shadow: inset 0px -10px 0px -7px rgba(192,40,41,1);
    -moz-box-shadow: inset 0px -10px 0px -7px rgba(192,40,41,1);
    box-shadow: inset 0px -10px 0px -7px rgba(192,40,41,1);
}

.buyButton{
    cursor: pointer;
    margin-right: 5px;
    padding: 9px 13px;
    float: right;
    border: 1px solid #ddddde;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: 700;
    color: #616161;
    background-color: #f7f7f7;
    -webkit-box-shadow: inset 0px -10px 0px -7px rgba(208,208,210,1);
    -moz-box-shadow: inset 0px -10px 0px -7px rgba(208,208,210,1);
    box-shadow: inset 0px -10px 0px -7px rgba(208,208,210,1); 
}

.deleteItem{
    font-size: 0.8em;
    cursor: pointer;
    margin-right: 16px;
    background-color: #dd2929;
    float: right;
    padding-left: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 12px;
    border-radius: 4px;
    margin-left: 5px;
    color: white;
    -webkit-box-shadow: inset 0px -10px 0px -7px rgba(192,40,41,1);
    -moz-box-shadow: inset 0px -10px 0px -7px rgba(192,40,41,1);
    box-shadow: inset 0px -10px 0px -7px rgba(192,40,41,1); 
}

.buyButton:hover{
    background-color: #c3c3c5;
}

.deleteItem:hover{
    background-color: #c02829;
}

.boughtButton{
    display: none;
}

.boughtCount{
    margin-left: 38px;
}

.notBuy{
    margin-right: 16px;
}

.boughtLable{
    text-decoration: line-through;
}

.rightLabel{
    padding: 15px;
    font-weight: 600;
}

.buyContainer{
    padding-left: 10px;
    padding-top: 6px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    font-size: 0.7em;
}

.buyText{
    display: inline-block;
    background-color: #eaeaea;
    color: #5d5d5d;
    padding: 8px 12px;
    margin-top: 4px;
    border-radius: 4px;
}

.buyText:last-child{
    margin-bottom: 10px;
}

.buyLable{
    text-decoration: none;
    background-color: #f4721c;
    color: white;
    margin-left: 5px;
    padding: 3px 6px;
    border-radius: 50%;
}

.sticker{
    cursor: pointer;
    bottom: -80px;
    position: fixed;
    width: 150px;
    height: 150px;
    background-color: #af20d9;
    margin-left: 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform: translateY(0);
    transition: all 1s ease;
}

.sticker:hover{
    transform: translateY(-60px);
    background-color: #4d1ed8;
    transition: all 1s ease;
}

.stickerName{
    color: white;
    font-size: 2em;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 20px;
}

.creatorName{
    position: absolute;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
    font-weight: 100;
}

.creatorName span{
    font-size: 1.2em;
    font-weight: 600;
}

.tooltip::after{
    font-size: 0.8em;
    background: #af20d9;
	border-radius: 8px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	color: #FFF;
	content: attr(data-tooltip);
	margin-top: -40px;
    margin-left: -35px;
	opacity: 0;
	padding: 6px 14px;
	position: absolute;
	visibility: hidden; 
	transition: all 1s ease-in-out; 
    transform: scale(0);
    transform-origin: center bottom;
}

.tooltip:hover::after {
	opacity: 1; 
	visibility: visible;
    transform:scale(1);
}

@media  (max-width: 1000px){
    .itemName{
        width: 70%;
    }
    
    .add{
        padding-left: 8px;
    }
}

@media  (max-width: 720px){
    .cont{
        float: none;
        width: 100%;
        margin-top: 25px;
        min-width: 450px;
    }
    
    .item:last-child{
        padding-bottom: 10px;
    }
}

@media print{
    .stickerName{
        display: none;
    }
    
    .sticker{
        border: 1px solid #ae20d8;
    }
}